        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
              <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                  <div class="small m-0 text-white">© Shabneez Job Portal 2023</div>
                </div>
                <div class="col-auto">
                  <a href="https://www.facebook.com/shab.aurora" target="_blank"  class="text-white me-4"><i class="fab fa-facebook fa-lg"></i></a>
                  <a href="#" target="_blank"  class="text-white me-4"><i class="fab fa-twitter fa-lg"></i></a>
                  <a href="#" target="_blank"  class="text-white me-4"><i class="fab fa-instagram fa-lg"></i></a>
                  <a href="https://www.linkedin.com/in/shabneez-mandarun-4523bb266/" target="_blank" class="text-white me-4"><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
              </div>
            </div>
          </footer>
          
          